aes==1.0.0
certifi==2019.6.16
chardet==3.0.4
colorama==0.4.1
ddt==1.2.1
idna==2.8
mock==3.0.5
Naked==0.1.31
PyYAML==5.1.1
requests==2.22.0
shellescape==3.4.1
singledispatch==3.4.0.3
six==1.12.0
urllib3==1.25.8
